    <div id="auth-container">
        <form action="/login" method="post">
        <div id="form-control">
            <label for="login"> </label>
            <input type="text" name="login" placeholder="Digite o seu Login" required>
        </div>
        <div id="form-control">
            <label for="password"> </label>
            <input type="password" name="password" placeholder="Digite a sua senha" required>
        </div>
        <input type="submit" value="Entrar">
        <br>
        <a href="/register">Não tenho uma conta!</a>
        </form>
    </div>
