<form action="/membros/add" method="post">
    <!-- Dados Pessoais -->
    <fieldset>
        <legend>Dados Pessoais</legend>
        <label for="nome" id="fieldset-01">Nome:</label>
        
        <input type="text" class="input-field" id="nome" name="nome" required>

        <label for="email">Email:</label>
        <input type="email" class="input-field" id="email" name="email"required>

        <label for="telefone">Telefone:</label>
        <input type="tel" class="input-field" id="telefone" name="telefone"required>

        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="date" class="input-field" id="dataNascimento" name="dataNascimento"required>

        <label for="instagram">Instagram:</label>
        <input type="text" class="input-field" id="instagram" name="instagram">
    </fieldset>

     <!-- Endereço -->
    <fieldset>
        <legend>Endereço</legend>
        <label for="cep">CEP:</label>
        <input type="text" class="input-field" id="cep" name="cep"required>

        <label for="rua">Rua:</label>
        <input type="text" class="input-field" id="rua" name="rua"required>

        <label for="bairro">Bairro:</label>
        <input type="text" class="input-field" id="bairro" name="bairro"required>

        <label for="cidade">Cidade:</label>
        <input type="text" class="input-field" id="cidade" name="cidade"required>

        <label for="numero">Número:</label>
        <input type="text" class="input-field" id="numero" name="numero">
    </fieldset>

      <!-- Datas Importantes -->
    <fieldset>
        <legend>Datas Importantes</legend>
        <label for="dataConversao">Data de Conversão:</label>
        <input type="date" class="input-field" id="dataConversao" name="dataConversao">

        <label for="dataBatismo">Data de Batismo:</label>
        <input type="date" class="input-field" id="dataBatismo" name="dataBatismo">

        <label for="dataCasamento">Data de Casamento:</label>
        <input type="date" class="input-field" id="dataCasamento" name="dataCasamento" required >
    </fieldset>

    <!-- Cônjuge -->
    <fieldset>
        <legend>Cônjuge</legend>
        <label for="conjuge">Nome do Cônjuge:</label>
        <input type="text" class="input-field" id="conjuge" name="conjuge">
    </fieldset>

    <input type="submit" value="Enviar">
</form>
