<div class="button-container">
    <button class="button">
        <i class="bi bi-file-earmark-plus"></i>
        <span>Cadastro</span>
    </button>

    <button class="button">
        <i class="bi bi-pencil-square"></i>
        <span>Edição</span>
    </button>
</div>

<div class="button-container">
    <button class="button">
        <i class="bi bi-trash"></i>
        <span>Excluir</span>
    </button>

    <button class="button">
        <i class="bi bi-search"></i>
        <span>Busca por Filtro</span>
    </button>
</div>
