<div class="button-container">
    <a href="/membros/add" class="button">
        <i class="bi bi-file-earmark-plus"></i>
        <span>Cadastro</span>
    </a>

    <a href="#" class="button">
        <i class="bi bi-pencil-square"></i>
        <span>Edição</span>
    </a>
</div>

<div class="button-container">
    <a href="#" class="button">
        <i class="bi bi-trash"></i>
        <span>Excluir</span>
    </a>

    <a href="#" class="button">
        <i class="bi bi-search"></i>
        <span>Busca por Filtro</span>
    </a>
</div>